<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bookings Admin</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="" width="30" height="30" alt="">
				Events Booking - Admin Panel
			</a>
		
		 <ul class="navbar-nav mr-auto">
		  <li><a href="{{ url_for('admin_panel.alldata') }}">All Data</a></li>
			<li>Create
			<ul>
			  <li><a href="{{ url_for('admin_panel.event_create') }}">Event</a></li>
			  <li><a href="{{ url_for('admin_panel.location_create') }}">Location</a></li>
			</ul>
			</li>
			<li>Modify
			<ul>
				<li><a href="{{ url_for('admin_panel.event_modify') }}">Event</a></li>
				<li><a href="{{ url_for('admin_panel.location_modify') }}">Location</a></li>
			</ul>
			</li>
			<li><a href="{{ url_for('admin_panel.upload') }}">Upload</a></li>
			<li><a href="{{ url_for('admin_panel.message') }}">Message</a></li>
		 </ul>
			<a class="nav-link" href="{{ url_for('main_panel.index') }}">User Panel</a>
		  	<a class="nav-link" href="{{ url_for('main_panel.logout') }}">Logout</a>
		</div>
		</nav>

		<!-- flash messages based on flash category  -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		{% if category == "error" or category == "message" %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{% elif category == "info" %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		{% endif %}
		{{ message }}
		{% endfor %}
		</div> 
 		{% endwith %}
	
		{% block content %}{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
