<html>
	<head>
		<title>Bookings Admin</title>
	</head>
	<body>
		<nav class>
			<a href="#"><img src="" width="30" height="30" alt="">Events Booking - Admin Panel</a>
			
			<ul>
				<li><a href="{{ url_for('admin_panel.alldata') }}">All Data</a></li>
				<li>Create
					<ul>
			  			<li><a href="{{ url_for('admin_panel.event_create') }}">Event</a></li>
			  			<li><a href="{{ url_for('admin_panel.location_create') }}">Location</a></li>
					</ul>
				</li>
				<li>Modify
					<ul>
						<li><a href="{{ url_for('admin_panel.event_modify') }}">Event</a></li>
						<li><a href="{{ url_for('admin_panel.location_modify') }}">Location</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('admin_panel.message') }}">Message</a></li>
		 	</ul>
				<a class="nav-link" href="{{ url_for('main_panel.index') }}">User Panel</a>
		  		<a class="nav-link" href="{{ url_for('main_panel.logout') }}">Logout</a>
		</nav>

		<!-- flash messages based on flash category  -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		{% if category == "error" or category == "message" %}
		<div class="">
		{% elif category == "info" %}
		<div class="">
		{% endif %}
		{{ message }}
		{% endfor %}
		</div> 
 		{% endwith %}
	
		{% block content %}{% endblock %}
		</div>
	</body>
</html>
