{% extends "adm_base.html" %}

{% block content %}
<table>
	<tr>
		<td>Event Id</td>
		<td>Event Name</td>
		<td>Capacity</td>
		<td>Event Start</td>
		<td>Event End</td>
		<td>Location ID</td>
	</tr>
{% for event in events %}
	<tr>
		<td>{{ event.id }}</td>
		<td><a href="{{ url_for('admin_panel.event_mod', event_id=event.id) }}">{{ event.name }}</td>
		<td>{{ event.capacity }}</td>
		<td>{{ event.start }}</td>
		<td>{{ event.end }}</td>
		<td>{{ event.location_id }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
