{% extends "adm_base.html" %}

{% block content %}
<style>
	td {
		padding-top:0.5 !important;
		padding-bottom:0 !important;
	}
</style>
<div class="mx-auto pb-3" style="background-color:#e0f7fa">
<h2 class="mt-3">Event Creation Form</h2>
<form action="" method="post" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<table class="table table-borderless w-auto mx-auto mt-5">
		<tbody>
		<tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.capacity.label }}</td>
		</tr>
		<tr>
			<td>{{ form.name(class="form-control") }}</td>
			<td>{{ form.capacity(class="form-control")}}</td>
		</tr>
		<tr>
			<td>{{ form.start_date.label }}</td>
			<td>{{ form.end_date.label  }}</td>
		</tr>
		<tr>
			<td>{{ form.start_date(class="datepicker form-control") }}</td>
			<td>{{ form.end_date(class="datepicker form-control") }}</td>
		</tr>
		<tr>
			<td>{{ form.location.label }}</td>
			<td>{{form.description.label}}</td>
		</tr>
		<tr>
			<td>{{ form.location(class="form-control") }}</td>
			<td>{{form.description(class="w-100")}}</td>
		</tr>
		<tr>
			<td colspan="2" class="text-left pt-4">{{ form.img_name }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="alert alert-danger" role="alert">
					{% for error in form.name.errors %}Name: {{ error }}<br>{% endfor %}
					{% for error in form.capacity.errors %}Capacity: {{ error }}<br>{% endfor %}
					{% for error in form.start_date.errors %}Start Date: {{ error }}<br>{% endfor %}
					{% for error in form.end_date.errors %}End Date: {{ error }}<br>{% endfor %}
				{% for error in form.location.errors %}Location: {{ error }}{% endfor %}
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	{{ form.submit(class="btn btn-primary mt-5") }}
</form>
</div>
{% endblock %}
