{% extends "adm_base.html" %}

{% block content %}
<div class="mx-auto container">
	<form method="post" action="">
		{{ form.hidden_tag() }}
		<table class="table table-bordered table-dark table-striped">
			<tr>
				<th>Data Type</th>
				<th>Current Value</th>
				<th>Update Value</th>
			</tr>
			<tr>
				<td>Id</td>
				<td>{{ location.id }}</td>
				<td></td>
			</tr>
			<tr>
				<td>Location Name</td>
				<td>{{ location.name }}</td>
				<td></td>
			</tr>
			<tr>
				<td>Address	</td>
				<td>{{ location.address }}</td>
				<td>{{ form.address }}</td>
			</tr>
		</table>
		{{ form.submit(class='btn btn-info') }}
	</form>
</div>
{% endblock %}
