<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Bookings</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<img src="#" width="30" height="30" alt="event_logo">
				Events Booking
			</a>
			
		 <ul class="navbar-nav mr-auto">

		  <li class="nav-item">
			  <a class="nav-link" href="{{ url_for('main_panel.index') }}">Home</a>
		  </li>
		  
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('main_panel.events') }}">Events</a>
			</li>
			<li class="nav-item">
			<a href="{{ url_for('main_panel.mybookings') }}">My Bookings</a>
			</li>
		 </ul>

		
		  <!-- check for login in session  -->
		  {% if current_user.is_anonymous %}
			  <a class="nav-link" href="{{ url_for('main_panel.login') }}">Login</a>
		  {% else %}
		  	<!-- check for admin rights -->
			Welcome, {{ current_user.username }}!
		  	{% if current_user.su_rights %}
			<a class="nav-link" href="{{ url_for('admin_panel.main') }}">Admin Panel</a>
			{% endif %}
		  	<a class="nav-link" href="{{ url_for('main_panel.logout') }}">Logout</a>
		  {% endif %}
		</div>	
		</nav>

		<!-- flash messages based on flash category  -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		{% if category == "error" or category == "message" %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{% elif category == "info" %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		{% endif %}
		{{ message }}
		{% endfor %}
		</div> 
 		{% endwith %}
	
		{% block content %}{% endblock %}
		</div>
	</body>
</html>
