{% extends "base.html" %}

{% block content %}
<style>
	body {
		background-image:url("/static/mhw.jpg");
	}
</style>
<div class="text-white container">
	<h1>Booking confirmation</h1>
	<table class="table table-dark align-self-center">
		<tbody>
		<tr>
			<td rowspan="6" class="align-middle p-0">
				<img src="{{url_for('main_panel.download_file',filename='') }}{{data.img_name}}"></img>
			</td>	
			<td style="font-weight:bold;">Event</td>
			<td>{{ data.name }}</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">Current Capacity</td>
			<td>{{ data.capacity }}</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">Start Date</td>
			<td>{{ data.start }}</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">End Date</td>
			<td>{{ data.end }}</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">Location</td>
			<td>{{ data.location_name }}</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">Address</td>
			<td>{{ data.address }}</td>
		</tr>
		</tbody>
	</table>
	<form action="" method="post">
	{{ form.hidden_tag() }}
	<div class="d-flex flex-row justify-content-center">
		{{ form.amount(class="mr-3 custom-select col-sm-1", min="1", max="{{ data.capacity }}") }}<br/>
		{% if data.capacity==0 %}
		{{ form.submit(disabled="", class='btn btn-primary') }}
		{% else %}
		{{ form.submit(class='btn btn-primary') }}
		{% endif %}
	</div>
	{% for error in form.amount.errors %}
	{{ error }}
	{% endfor %}
	</form>
</div>
{% endblock %}
