{% extends "base.html" %}

{% block content %}
<style>
	body {
		background-image:url("/static/mhw.jpg");
	}
</style>
<div class="d-flex flex-column justify-content-center mx-auto">
	{% if data.img_name %}
	<img src="{{ url_for('main_panel.download_file', filename='') }}{{ data.img_name.replace(' ', '_') }}"></img>
	{% endif %}
	<table class="table table-sm table-dark table-bordered w-100">
		<tbody>
		<tr>
			<td>Event</td>
			<td>{{ data.name }}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>{{ data.location_name }}<br>{{ data.address }}</td>
		</tr>
		<tr>
			<td>Current Event Capacity</td>
			<td>{{ data.capacity }}</td>
		</tr>
		<tr>
			<td>Start Time</td>
			<td>{{ data.start }}</td>
		</tr>
		<tr>
			<td>End Time</td>
			<td>{{ data.end }}</td>
		</tr>
		</tbody>
	</table>
	<a class="btn btn-primary mx-auto" href="{{ url_for('main_panel.book', event_id=event_id) }}">Book</a>
</div>
{% endblock %}
