{% extends "base.html" %}

{% block content %}
<style>
	body {
		background-image:url("/static/snow.jpg");
	}
</style>
<div class="d-flex flex-row justify-content-center" style="padding-bottom:5%;">	
	<div class="card mr-5 my-auto border-dark bg-dark p-0">
		<img src="/static/town.jpg" class="card-img-top"/>

		<div class="card-body p-0 h-auto">
		<table class="table table-bordered table-dark table-striped p-0 m-0">
			<tr>
				<th colspan="2">Latest Events</th>
			</tr>
			{%for i in data%}
			<tr>
				<td style="width:20%;">{{i.start}}</td>
				<td><a href="{{url_for('main_panel.load_event', event_id=i.id)}}">{{i.name}}</a></td>
			</tr>
			{%endfor%}
		</table>
		</div>
	</div>
	
	<div class="ml-5 d-flex flex-column align-items-start">
		<div class="mb-5">
			<a class="twitter-timeline " href="https://twitter.com/YUI_STAFF" data-width="300" data-height="600">Tweets @YUI_STAFF</a>
		</div>
		<div class="w-100 mt-5">
			<a href="{{url_for('main_panel.events')}}" class="btn btn-secondary w-100 mb-1">Events</a>
			<a href="{{url_for('main_panel.mybookings')}}" class="btn btn-info w-100 mb-1">Bookings</a>
			<a href="{{url_for('main_panel.login')}}" class="btn btn-success w-100 mb-1">Login</a>
		</div>
	</div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
