{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center container">
	<img src="/static/key.jpg" alt="login_page">
	<h1>Login Page</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		{{ form.username.label }}
		{{ form.username(size=32, class="form-control", id="form_user") }}

	{% for error in form.username.errors %}
		<div class="alert alert-danger alert-dismissible fade show col-md-auto text-left" role="alert">
		{{ error }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		</button>
		</div>
	{% endfor %}
	{{ form.password.label }}
	{{ form.password(size=32, class="form-control") }}

	{% for error in form.password.errors %}
		<div class="alert alert-danger alert-dismissible fade show col-md-auto text-left" role="alert">
		{{ error }}
	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	 	</button>
		</div>
	{% endfor %} 

	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="remember">
		<label class="custom-control-label" for="remember">Remember Me</label>
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
	</form>
	<p>
   	<a href="{{ url_for('main_panel.register') }}">Register</a>
   	<a href="{{ url_for('main_panel.reset') }}">Forgot password</a>
	</p>
</div>
{% endblock %}
