{% extends "base.html" %}

{% block content %}
<style>
	body {
		background-image: url("/static/fireworks.png");
	}
</style>
<div class="d-flex flex-column justify-content-center align-items-center container w-25 pt-5" style="background-color:rgba(255,255,255,0.2);">
	<h1 class="pb-5">Login Page</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username(size=32, class="form-control", placeholder="Username") }}
			{{ form.password(size=32, class="form-control", placeholder="Password") }}
		</p>

		{% if (form.username.errors or form.password.errors) %}
			<div class="alert alert-danger alert-dismissible fade show col-md-auto text-left" role="alert">
					Invalid username/password.
			</div>
		{% endif %} 


		<p>
		<div class="custom-control custom-switch">
			<input type="checkbox" class="custom-control-input" id="remember">
			<label class="custom-control-label text-white" for="remember">Remember Me</label>
		</div>
		</p>
		
		<p>
			{{form.submit(class="btn btn-dark")}}	
		</p>
	</form>
	<p class="my-5">
		<a class="mr-2 text-white" href="{{ url_for('main_panel.register') }}">Register</a>
		<a class="ml-2 text-white" href="{{ url_for('main_panel.reset') }}">Forgot Password</a>
	</p>
</div>
{% endblock %}
