{% extends "base.html" %}

{% block content %}
<script>
function cf(book_id, event_id, qt){
	if(confirm("Are you sure you wish to cancel the booking?")){
		let form = document.getElementById("modification");
		document.getElementById("book_id").value = book_id;
		document.getElementById("event_id").value = event_id;
		document.getElementById("qt").value = qt;
		form.submit();
	}
}

function md(book_id, event_id, qt){
	md_qt = qt - document.getElementById("md_qt").value;
	if(confirm("Are you sure you wish to return " + md_qt + " tickets for the event?")){
		let form = document.getElementById("modification");
		document.getElementById("book_id").value = book_id;
		document.getElementById("event_id").value = event_id;
		document.getElementById("qt").value = qt;
		form.submit();
	}
}
</script>
<style>
	body {
		background-image:url("/static/lib.jpg");
	}
</style>
<div class="text-white container">
<h1>My Bookings</h1>
{% if bookings %}
<table class="table table-dark table-bordered">
<form id="modification" action="" method="post">
{{ form.hidden_tag() }}
	<thead class="thead-dark">
		<tr>
			<th>No.</th>
			<th>Event</th>
			<th>Quantity</th>
			<th colspan="4">Modified Quantity</th>
		</tr>
	</thead>
	<tbody>
	{% for booking in bookings %}
		<tr>
			<td>{{ loop.index }}</td>
			<td><a href="{{ url_for('main_panel.load_event', event_id=booking.event_id) }}">{{ booking.name }}</a></td>
			<td>{{ booking.quantity }}</td>
			<td>{{ form.md_qt(class='form-control col-sm-6') }}</td>
			<td><button class="btn btn-primary w-100" onclick="md({{ booking.id }}, {{ booking.event_id }}, {{ booking.quantity }})">Modify</button></td>
			<td><button class="btn btn-danger w-100" onclick="cf({{ booking.id }}, {{ booking.event_id }}, {{ booking.quantity }})">Cancel</td>
		</tr>
		<input type="submit" disabled style="display: none">
	{% endfor %}
	</tbody>
</form>
</table>
{% else %}
	<h3 class="mt-5">You have no bookings currently.</h3>
{% endif %}
</div>
{% endblock %}
