{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center container">
 <h1>Registration Page</h1><br>
 <form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
  <p>
  {{ form.username.label(label="form_user") }}<br>
  {{ form.username(size=32, class="form-control", id="form_user") }}
  </div>
  {% for error in form.username.errors %}
  <div class="alert alert-danger alert-dismissible fade show col-md-auto" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
  </p>
  <div class="form-group">
  <p>
  {{ form.email.label(label="form_email") }}<br>
  {{ form.email(size=32, class="form-control", id="form_email") }}
  </div>
  {% for error in form.email.errors %}
  <div class="alert alert-danger alert-dismissible fade show col-md-auto" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
  </p>
  <div class="form-group">
  <p>
  {{ form.password.label(label="form_password") }}<br>
  {{ form.password(size=32, class="form-control", id="form_password") }}
  {% for error in form.password.errors %}
  <div class="alert alert-danger alert-dismissible fade show col-md-auto" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
  </p>
  <div class="form-group">
  <p>
  {{ form.password_re.label(label="form_password_re") }}<br>
  {{ form.password_re(size=32, class="form-control", id="form_password_re") }}
  {% for error in form.password_re.errors %}
  <div class="alert alert-danger alert-dismissible fade show col-md-auto" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
  </p>
  {{ form.recaptcha }}<br>
  {{ form.submit(type="submit", class="btn btn-primary") }}
  </div>
 </form>
</div>

{% endblock %}
